/* header design */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 9vh;
    border-bottom: 1px solid black;
    color: white;
}

/* nav link design */
#nav-links{
    position: relative;
    width: 420px;
    height: 50px;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: green;
}

.span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: .5s;
}
.nav-link:nth-child(1):hover~span{
    left: 0;
}
.nav-link:nth-child(2):hover~span{
    left: 100px;
    width: 99px;
}
.nav-link:nth-child(3):hover~span{
    left: 212px;
}
.nav-link:nth-child(4):hover~span{
    left: 318px;
    width: 100px;
}
